.container {
  width: 100%;
  /* border: 2px solid green; */
  position: relative;
  height: 100%;
  user-select: none;
  cursor: pointer;
}

.inputContainer {
  /* border: 1px solid yellow; */
  width: 90%;
  max-width: 90%;
  padding: 7px 6px;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #202020;
  box-sizing: border-box;
  height: 35px;
  position: relative;
}

.inputContainer:hover {
  background-color: #2d2d2d;
}

.emptyLabel {
  font-size: 14px;
  margin: 0px 0px 0px 6px;
  padding-top: 2px;
  color: #7f7f7f;
}

.isInFocus {
  /* background-color: #2d2d2d; */
  border-radius: 4px 4px 0px 0px;
}

.dropdown {
  min-height: 35px;
  /* border: 3px solid red; */
  position: absolute;
  top: 35px;
  left: 0;
  /* width: 270px; */
  border-radius: 6px;
  background-color: #252525;
  border-top: 1px solid #757575;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 12px;
  color: #757575;
  padding: 8px;
  box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px,
    rgba(15, 15, 15, 0.2) 0px 3px 6px, rgba(15, 15, 15, 0.4) 0px 9px 24px;
  z-index: 44;
}

.bottomButton {
  border: 1px solid #8b9898;
  cursor: pointer;
  /* margin-left: 4px; */
  /* margin-right: 4px; */
  margin-top: 8px;
  /* margin-bottom: 6px; */
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  line-height: 120%;
  width: 100%;
  min-height: 28px;
  font-size: 14px;
}

.bottomButton:hover {
  background-color: #2d2d2d;
}

.bottomButtonLabel {
  margin: 0px 0px 0px 0px;
}

/* .bottomButton:hover {
  background-color: #2d2d2d;
} */

.dateLabels {
  font-size: 14px;
  margin: 0px 0px 0px 6px;
  padding-top: 2px;
  color: white;
  display: flex;
  flex-direction: row;
}

.dateLabels p {
  margin: 0px 6px 0px 0px;
}

.rastaStripes {
  /* border: 5px solid yellow !important; */
}

.pastDay {
  color: #8b9898 !important; /* Grey color for past days */
  /* background-color: #f5f5f5; */
}

.timeContainer {
  position: relative;
  border: 1px solid yellow;
}

.timeInput {
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 120px;
  height: 120px;
  background-color: red;
  z-index: 3;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  box-sizing: border-box;
  padding: 5px;
}

.unitContainer {
  width: 45%;
  height: 100px;
  border: 1px solid white;
  overflow-y: scroll;
  scrollbar-width: none; /* Hide scrollbar in Firefox */
  -ms-overflow-style: none; /* Hide scrollbar in Edge and IE */
}

.unitBlock {
  height: 25px;
  width: 100;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
