.container {
  /* width: 100%; */
  /* border: 2px solid green; */
  position: relative;
  /* height: 100%; */
  user-select: none;
  cursor: pointer;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  height: 40px;
}

.inputContainer {
  /* border: 1px solid yellow; */
  width: 75%;
  /* max-width: 90%; */
  padding: 3px 3px;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: #202020;
  height: 100%;
  box-sizing: border-box;
  /* height: 35px; */
  position: relative;
}

.inputContainer:hover {
  background-color: #2d2d2d;
}

.emptyLabel {
  font-size: 14px;
  /* margin: 0px 0px 0px 6px; */
  padding-top: 2px;
  color: #7f7f7f;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* border: 1px solid white; */
  height: 18px;
}

.emptyLabel p {
  /* margin-bottom: 2px; */
  height: 18px;
  /* border: 1px solid red; */
  padding-bottom: 0px;
  margin-left: 6px;
}

.isInFocus {
  /* background-color: #2d2d2d; */
  border-radius: 4px 4px 0px 0px;
}

.dropdown {
  min-height: 35px;
  /* border: 3px solid red; */
  position: absolute;
  top: 35px;
  left: 0;
  /* width: 270px; */
  border-radius: 6px;
  background-color: #252525;
  border-top: 1px solid #757575;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 12px;
  color: #757575;
  padding: 8px;
  box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px,
    rgba(15, 15, 15, 0.2) 0px 3px 6px, rgba(15, 15, 15, 0.4) 0px 9px 24px;
  z-index: 44;
}

.bottomButton {
  border: 1px solid #8b987c85;
  cursor: pointer;
  /* margin-left: 4px; */
  /* margin-right: 4px; */
  margin-top: 8px;
  /* margin-bottom: 6px; */
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  line-height: 120%;
  width: 100%;
  min-height: 28px;
  font-size: 14px;
  box-sizing: border-box;
}

.bottomButton:hover {
  background-color: #2d2d2d;
}

.bottomButtonLabel {
  color: #7f7f7f;
  margin: 0px 0px 0px 0px;
}

/* .bottomButton:hover {
  background-color: #2d2d2d;
} */

.dateLabels {
  font-size: 12px;
  /* padding-top: 2px; */
  /* margin-top: 2px; */
  padding: 0px 10px 0px 10px;
  color: white;
  display: flex;
  flex-direction: row;
  border: 1px solid #7948469f;
  background: #79484611;
  border-radius: 4px;
  display: flex;
  /* justify-content: center; */
  /* height: 30px; */
  height: 100%;
  /* width: 100px; */
  /* min-width: 76px; */
  align-items: center; /* Center items vertically */
  justify-content: space-between;
  box-sizing: border-box;
}

.timeLabel {
  font-size: 12px;
  /* padding-top: 2px; */
  /* margin-top: 2px; */
  padding: 0px 5px 0px 5px;
  color: white;
  display: flex;
  flex-direction: row;
  border: 1px solid #a14bb49f;
  background: #a14bb42a;
  border-radius: 4px;
  display: flex;
  /* justify-content: center; */
  /* height: 30px; */
  height: 70%;
  /* width: 100px; */
  /* min-width: 76px; */
  align-items: center; /* Center items vertically */
  justify-content: space-between;
  box-sizing: border-box;
  margin-left: 8px;
}

.dateLabels p {
  /* margin: 0px 6px 0px 0px; */
  /* padding-bottom: 2px; */
}

.rastaStripes {
  /* border: 5px solid yellow !important; */
}

.pastDay {
  color: #8b9898 !important; /* Grey color for past days */
  /* background-color: #f5f5f5; */
}

.timeContainer {
  position: relative;
  /* border: 1px solid yellow; */
}

.timeInput {
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 120px;
  height: 120px;
  background-color: #252525;
  z-index: 3;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  box-sizing: border-box;
  /* padding: 5px; */
  /* border: 1px solid green; */
  box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px,
    rgba(15, 15, 15, 0.2) 0px 3px 6px, rgba(15, 15, 15, 0.4) 0px 9px 24px;
}

.unitContainer {
  width: 100%;
  height: 100%;
  /* border: 1px solid white; */
  overflow-y: scroll;
  padding: 4px;
  background-color: #1e1e1e;
}

.unitBlock {
  height: 32px;
  width: 100;
  /* border: 1px solid white; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-left: 8px;
  color: white;
  background-color: #1e1e1e;
  border-radius: 6px;
}

.unitBlock:hover {
  background-color: #454444;
}

.unitContainer::-webkit-scrollbar {
  width: 10px !important;
  padding: 2px !important;
}

.unitContainer::-webkit-scrollbar-track {
  background: #2c2c2c !important;
  border-left: 1px solid #3e3e3e !important;
  border-right: 1px solid #3e3e3e !important;
  /* border-radius: 6px !important; */
  height: 100% !important;
}

.unitContainer::-webkit-scrollbar-thumb {
  background: #6b6b6b !important;
  border-radius: 10px !important;
  width: 8px !important;
}

.unitContainer::-webkit-scrollbar-thumb:hover {
  background: #939393 !important;
}

.timeButtonExistingTime {
  border: 1px solid #8b987c;
}

.timeButtonExistingTime p {
  color: white;
}

.bottomButton svg {
  /* border: 1px solid red; */
  margin-right: 4px;
  padding-top: 2px;
}

.bottomButtonLabel {
  padding-top: 0px;
}

.clearTimeButton {
  position: absolute;
  right: 0px;
  /* border: 1px solid #8b987c; */
  width: 20px;
  height: 19px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 1px;
  margin-right: 4px;
  margin-bottom: 1px;
}

.clearTimeButton:hover {
  background-color: #454444;
}

.clearTimeButton:active {
  background-color: #454444;
}

.deleteDateButton {
  margin-left: 4px;
  border-radius: 4px;
  padding: 1px 0px;
  border: 1px solid rgba(255, 0, 0, 0);
}

.deleteDateButton:hover {
  /* border: 1px solid white; */
  border: 1px solid #794846;
  background: #794846;
}

.startLabel {
  flex: 1; /* Allow this item to take up available space between deleteDateButton and the container's edge */
  /* margin-right: 6px; */
  margin-left: 8px;
}

.timeLabel p {
  margin: 0;
  margin-left: 3px;
  padding: 0px 2px 0px 0px;
}
