.container {
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

input[type='checkbox'] {
  height: 0;
  width: 0;
  visibility: hidden; /* Hide the checkbox */
}

label {
  width: 40px; /* Width of the toggle switch 200 */
  height: 20px; /* Height of the toggle switch 100 */
  cursor: pointer;
  text-indent: -9999px; /* Hide text for accessibility */
  background: #202020; /* Background color when not toggled */
  display: block;
  border-radius: 100px; /* Fully rounded corners */
  position: relative; /* Positioning for the pseudo-element */
  transition: background 0.3s; /* Smooth transition for background */
  margin-bottom: 6px;
  border: 1px solid white;
}

label:after {
  width: 18px; /* Width of the slider 90 */
  height: 18px; /* Height of the slider 90 */
  content: '';
  position: absolute;
  top: 1px; /* Align the slider vertically within the label */
  left: 2px; /* Initial position of the slider */
  background: #fff; /* Background color of the slider */
  border-radius: 90px; /* Fully rounded slider */
  transition: left 0.3s ease; /* Smooth transition for the slider */
}

input:checked + label {
  background: white; /* Change background color when checked */
}

input:checked + label:after {
  background: #202020;
  left: calc(
    100% - 20px
  ); /* Move slider to the right while keeping it inside 100% - 95px */
  /* 95px = total width of the slider (90px) + 5px for padding */
}

/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */
