.container {
  /* border: 2px solid red; */
  /* position: absolute; */
  bottom: 0; /* Sticks to the bottom of the parent */
  height: 100%; /* 93% of the parent's height */
  box-sizing: border-box;
  background-color: #191919;
  /* border: 5px solid yellow; */
  margin-left: auto;
  margin-top: auto;
  /* position: absolute; */
  /* bottom: 0; */
  padding: 4% 4%;
  box-sizing: border-box;
  position: relative;
}

.emptyMessage {
  /* border: 1px solid red; */
  height: 100%;
  color: #9b9b9b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 100;
  user-select: none;
}

.emptyMessageSpan {
  /* border: 1px solid yellow; */
  width: 270px;
  position: relative;
}

.emptyMessageSpan span {
  position: absolute;
  right: 0px;
  bottom: -1px;
}
