.listContainerWrapper {
  border: 2px solid red;
  /* overflow-y: scroll; */
  overflow-y: overlay;
  /* padding: 28px 0px 20px 28px; */
  /* padding: 4% 4% 4% 4%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* scroll-padding-right: 150px; */
  /* transition: height 0.2s ease; */
  box-sizing: border-box;
  /* width: 100%; */
  flex-grow: 1;
}

.listContainerWrapper::-webkit-scrollbar {
  width: 12px !important;
}

.listContainerWrapper::-webkit-scrollbar-track {
  background: #2c2c2c !important;
  border-radius: 10px !important;
}

.listContainerWrapper::-webkit-scrollbar-thumb {
  background: #6b6b6b !important;
  border-radius: 6px !important;
  width: 8px !important;
  min-height: 30px !important; /* Ensures minimum height */
  height: 30px !important; /* Forces the thumb height to always be fixed */
}

.listContainerWrapper::-webkit-scrollbar-thumb:hover {
  background: #939393 !important;
}

.container {
  border: 2px solid blue;
  /* height: 100%; */
  width: 100%;
  /* max-width: 1000px; */
  /* max-width: 90%; */
  /* padding: 0px 10px; */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  align-items: stretch;
  justify-content: flex-start;
  /* padding: 3% 2%; */
  box-sizing: border-box;
  /* height: 100%; */
}

.listTitleInput {
  font-size: 24px;
  /* color: white; */
  border: none;
  /* margin: 10px; */
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  pointer-events: auto;
  outline: none;

  font-size: 28px;
  background: none;
  color: #d9d9d9;
  font-weight: 600;
}

.newListItemButtonDivier {
  margin-top: 5px;
  border-bottom: 1px solid #2a2a2a;
  width: 100%;
}

.newListItemButton {
  height: 30px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border-radius: 5px;
  padding-left: 28px;
  color: rgb(164, 164, 164);
  border: none;
  /* border: 1px solid white; */
}

.newListItemButton:hover {
  background-color: #2a2a2a;
  color: white;
}

.newListItemButton span {
  margin-left: 6px;
}

/* .placeholderContainer {
  border: 3px solid hotpink;
  height: 30px;
} */

.listItem {
  display: flex;
  flex-direction: row;
  pointer-events: none;
}

.listsHeaderButton {
  /* border: 1px solid white; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px;
  height: 15px;
  width: 15px;
  border-radius: 6px;
  background-color: #333333;
  /* margin: 12px 0px 12px 12px; */
}

.listsHeaderButton:hover {
}

.showPlannerWrapper {
  height: 70px;
  width: 100%;
  border-top: 1px solid rgba(155, 155, 155, 0.151);
  box-sizing: border-box;
  margin-top: auto;
  padding: 12px 12px;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.showPlannerLabel {
  margin-left: 12px;
  color: rgb(155, 155, 155);
  font-size: 12px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.showPlannerLabel span {
  margin-left: 8px;
  margin-top: 1px;
}
