.listContainerWrapper {
  /* border: 5px solid pink; */
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  /* height: 100%; */
  width: 100%;
  /* overflow-y: hidden; */
  /* flex-grow: 1; */
}

/* .listScrollWrapper {
  border: 5px solid green;
  box-sizing: border-box;
  width: 100%;
  height: calc(100% - 70px);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
} */

.container {
  border: 2px solid cyan;
  /* height: 100%; */
  width: 100%;
  max-width: 1000px;
  /* max-width: 90%; */
  /* padding: 0px 10px; */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  align-items: stretch;
  justify-content: flex-start;
  /* padding: 3% 2%; */
  box-sizing: border-box;
  /* height: 100%; */
}

.listTitleInput {
  font-size: 24px;
  /* color: white; */
  border: none;
  /* margin: 10px; */
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  pointer-events: auto;
  outline: none;

  font-size: 28px;
  background: none;
  color: #d9d9d9;
  font-weight: 600;
}

.newListItemButtonDivier {
  margin-top: 5px;
  border-bottom: 1px solid #2a2a2a;
  width: 100%;
}

.newListItemButton {
  height: 30px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border-radius: 5px;
  padding-left: 28px;
  color: rgb(164, 164, 164);
  border: none;
  /* border: 1px solid white; */
}

.newListItemButton:hover {
  background-color: #2a2a2a;
  color: white;
}

.newListItemButton span {
  margin-left: 6px;
}

/* .placeholderContainer {
  border: 3px solid hotpink;
  height: 30px;
} */

.listItem {
  display: flex;
  flex-direction: row;
  pointer-events: none;
}

.listsHeaderButton {
  /* border: 1px solid white; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px;
  height: 15px;
  width: 15px;
  border-radius: 6px;
  background-color: #333333;
  /* margin: 12px 0px 12px 12px; */
}

.listsHeaderButton:hover {
}
