.container {
  /* border: 1px solid green; */
  height: 30px;
  width: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border-radius: 5px;
  padding-right: 6px;
  color: white;
  box-sizing: border-box;
  margin: 0;
  overflow: hidden; /* Prevent overflow from the container */
}

.container:hover {
  background-color: #2a2a2a;
}

.titleTagsDatesWrapper {
  /* border: 1px solid white; */
  height: 30px;
  flex: 1; /* Allows the element to expand and fill remaining space */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border-radius: 5px;
  color: white;
  box-sizing: border-box;
  margin: 0;
  overflow: hidden; /* Ensure content does not overflow */
  padding-left: 1%;
}

.listItemTitle {
  font-size: 16px;
  font-weight: 500;
  margin-left: 8px;
  max-width: 38%;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis;
  /* border: 1px solid yellow; */
  /* margin: 0; */
}

.deleteListItemButton,
.editListItemButton {
  /* background-color: #2a2a2a; */
  background: none;
  border: 1px solid #2a2a2a;
  margin-left: 4px;
  border-radius: 4px;
  width: 31px;
  height: 26px;
  /* padding: 2px 8px; */
}

.deleteListItemButton:hover,
.editListItemButton:hover {
  background-color: #4c4c4c;
}

.tagsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  padding: 0px 6px;
  margin-left: auto;
  /* border: 1px solid cyan; */
  margin-right: 8px;
  max-width: 38%;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis;
}

.tag {
  color: white;
  padding: 0px 6px;
  margin: 0px 0px 0px 6px;
  border-radius: 3px;
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.dateContainer {
  font-size: 12px;
  /* border: 1px solid red; */
  max-width: 22%;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflow text */
}
