.container {
  border: 2px solid cyan;
  height: 7%;
  width: 100%;
  box-sizing: border-box;
  background-color: #2d2d2d;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
