.event {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 46px; /* Minimum starting height */
  /* border: 2px solid hotpink; */
  box-sizing: border-box;
  align-items: stretch; /* Stretch children to fill parent's height */
  /* overflow: hidden; */
  /* position: relative; */

  background-color: rgb(38, 38, 38);
  border: 1px solid rgb(61, 61, 61);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1), 0 6px 3px rgba(0, 0, 0, 0.12);
  border-radius: 11px;
  margin-bottom: 4px;
}
/* height: auto; */

/* justify-content: flex-start; */
/* color: white; */

.eventGrabContainer {
  width: 25px; /* Fixed width */
  /* border: 1px solid cyan; */
  flex-shrink: 0; /* Prevents it from shrinking */
  box-sizing: border-box;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #4c4c4c71;
  box-sizing: border-box;
  padding: 3px 3px 4px 3px;
  border-radius: 8px 0px 0px 8px;
}

.listItemDragHandle {
  width: 18px;
  /* height: 20px; */
  /* height: 80%; */
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  pointer-events: auto;
  padding: 0px 4px 0px 4px;
  position: relative;
  border-radius: 4px;
  margin-top: 2px;
  box-sizing: border-box;
}

.listItemDragHandle:hover {
  background-color: #4c4c4c;
}

.listItemDragHandle:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
  pointer-events: auto;
}

.duplicateButton {
  margin-left: auto;
}

.eventDetailsContainer {
  /* border: 2px solid yellow; */
  flex-grow: 1; /* Occupies remaining width */
  box-sizing: border-box;
  overflow-wrap: break-word; /* Ensures long words break within container */
  word-break: break-word; /* Ensures long strings wrap within bounds */
  max-width: 100%;

  /* padding: 3px 8px 3px 8px; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  padding: 0px 8px 0px 8px;
  color: white;
}
/* height: 100%; */
/* min-height: 46px; */
/* margin-left: 0px; */
/* flex: 1; */
/* position: relative; */

.titleAndEditContainer {
  /* border: 3px solid green; */
  box-sizing: border-box;
  display: grid; /* Enable grid layout */
  grid-template-columns: 1fr 32px; /* Define two columns: 90% and 10% */
  width: 100%; /* Make the container full width */
  height: 32px;
}

.eventTitle {
  /* border: 2px solid red; */
  grid-column: 1 / 2;
  height: 100%;
  max-height: 100%;
  /* background-color: lightblue; */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  position: relative;
  line-height: 18px;
}

.eventMoreContainer {
  /* border: 2px dashed white; */
  grid-column: 2 / 3; /* Start at column 2 and end before column 3 */
  height: 100%;
  max-height: 100%;
  /* background-color: lightcoral; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
}
.eventMoreButton {
  height: 28px;
  width: 28px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: none;
  border-radius: 4px;
  pointer-events: auto;
  /* border: 1px solid hotpink; */
}

.eventMoreButton:hover {
  background-color: #343434;
  cursor: pointer;
}

/* .eventTitle {
  border: 1px solid cyan;
  font-size: 14px;
  min-height: 28px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 2px;
  box-sizing: border-box;
  max-width: 80%;
} */

.eventTitle span {
  /* border: 1px dashed white; */
  /* position: absolute; */
  /* left: 0; */
  /* top: 0; */
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  font-size: 14px;
  /* display: flex; */
}

.eventTime {
  font-size: 11px;
  border: 1px solid #a14bb49f;
  background: #a14bb42a;
  display: inline-flex; /* Change to inline-flex to fit the content */
  flex-direction: row;
  align-items: center;
  padding: 2px 5px; /* Keep padding to maintain internal spacing */
  border-radius: 4px;
  box-sizing: border-box;
  margin: 0px 0 6px 0;
}

.eventTime span {
  height: 100%;
  /* border: 1px solid red; */
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 1px;
  box-sizing: border-box;
  margin-left: 2px;
  color: rgb(190, 190, 190);
}

.tagsContainer {
  /* border: 2px solid red; */
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap to the next line */
  align-items: center;
  width: 100%; /* Fills available width of the parent */
  box-sizing: border-box;
  /* margin-bottom: 4px; */
  overflow: hidden;
}

.tag {
  color: white;
  padding: 0px 6px;
  margin: 0px 6px 6px 0px;
  border-radius: 3px;
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

@media (max-width: 768px) {
  /* Mobile styles via media queries */
}
