.eventOptionsMenu {
  position: absolute;
  /* bottom: 100%; /* Positions the child directly above the parent's top boundary * */
  right: 0;
  /* height: 50px; */
  width: 200px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1), 0 6px 3px rgba(0, 0, 0, 0.12);
  background-color: rgb(38, 38, 38);
  border: 1px solid rgb(61, 61, 61);
  border-radius: 11px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  color: white;
  align-items: stretch; /* Stretch children to match the parent's height */
  z-index: 2;
  padding: 6px;
}

.eventOptionsMenuButton {
  user-select: none;
  transition: background-color 20ms ease-in;
  cursor: pointer;
  border-radius: 6px;
  /* color: rgba(255, 255, 255, 0.443); */
  color: #9b9b9b;
  /* fill: rgba(255, 255, 255, 0.443); */
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 120%;
  width: 100%;
  user-select: none;
  min-height: 30px;
  font-size: 14px;
  padding: 0px 8px;
  box-sizing: border-box;
  word-wrap: no-wrap;
  /* border: 1px solid red; */
  /* border: 1px solid red; */
}

.eventOptionsMenuButton span {
  margin-left: 10px;
  color: white;
  padding-top: 2px;
}

.eventOptionsMenuButton:hover,
.eventOptionsMenuButton:active {
  background-color: #343434;
}
