.wrapper {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.container {
  /* border: 3px solid green; */
  flex-grow: 1;
  box-sizing: border-box;
  background-color: #191919;
  position: relative;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
