.deleteModalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 4;
  box-sizing: border-box;
  pointer-events: auto;
  /* border: 3px solid blue; */
}

.deleteModal {
  background: #202020;
  border-radius: 6px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 188px; */
  width: 300px;
  padding: 24px;
  font-size: 16px;
  line-height: 1.5;
  color: white;
  pointer-events: auto;
  opacity: 1;
}

.deleteModalP {
  margin: 0px !important;
  padding: 0px !important;
}

.deleteModalButton {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  border-radius: 6px;
  height: 32px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 14px;
  line-height: 1.2;
  width: 100%;
  margin-top: 8px;
}

.confirmDeleteButton {
  background: #352626;
  color: rgb(235, 87, 87);
  border: 1px solid rgb(110, 54, 48);
  opacity: 1;
}

.cancelDeleteButton {
  border: 1px solid rgba(255, 255, 255, 0.13);
  color: #ffffffcf;
  background: #2b2b2b;
  opacity: 1;
}
