.container {
  /* border: 2px solid lime; */
  background-color: #202020;
  color: white;
  height: 100%;
  width: 100%;
  position: absolute; /* Allow overlaying */
  top: 0; /* Adjust as needed */
  left: 0%; /* Adjust as needed */
  z-index: 4; /* Ensure this sibling is on top */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 3%;
  box-sizing: border-box;
  /* opacity: 0.5; */
}

.titleAndCloseWrapper {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0;
  width: 100%;
  /* height: 41px; */
  margin-top: 20px;
  margin-bottom: 10px;
  /* padding: 0% 2%; */
  box-sizing: border-box;
}

.closeWrapper {
  /* border: 2px solid yellow; */
  width: 60px;
  min-width: 60px;
}

.closePaneButton {
  /* border: 1px solid #2a2a2a; */
  border-radius: 6px;
  padding: 8px;
  box-sizing: border-box;
  margin: 0px 0px 0px 0px;
  width: 50px;
}

.listItemTitleInput {
  border: none;
  /* border: 1px solid white; */
  background: none;
  color: #d9d9d9;
  outline: none;
  width: 100%;
  /* height: 100%; */
  /* padding-left: 4%; */
  cursor: pointer;
  padding-top: 4px;
  font-size: 30px;
  font-weight: 700;
  font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont,
    'Segoe UI Variable Display', 'Segoe UI', Helvetica, 'Apple Color Emoji',
    Arial, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.fieldIndent {
  /* border: 1px solid red; */
  /* width: 10%; */
  /* min-width: 60px; */
}

.fieldWrapper {
  /* border: 1px solid white; */
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
  /* min-height: 40px;  */
  align-items: center;
}

.wrapperLabel {
  /* border: 2px solid hotpink; */
  font-size: 14px;
  color: #7f7f7f;
  user-select: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 82px;
  height: 100%;
  min-height: 40px;
  justify-content: space-between;
  margin-right: 30px;
  margin-left: 10px;
  box-sizing: border-box;
}

#tagsFieldLabel {
  /* border: 1px solid lime; */
  height: 100%;
}

.fieldLabelP {
  margin: 0;
  /* padding: 0px 0px 0px 8px; */
  /* border: 1px solid cyan; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  /* height: 35px; */
  width: 40px;
  margin-left: 10px;
  box-sizing: border-box;
}

.dividerLine {
  border-top: 1px solid #7f7f7f30;
  height: 1px;
  /* min-width: 310px; */
  width: 75%;
  margin: 12px 0px 6px 0px;
}

.notesContainer {
  /* border: 1px solid red; */
  width: 100%;
  margin-left: 3px;
  box-sizing: border-box;
  position: relative;
  height: 300px;
  display: flex;
  flex-direction: row;
}

.notesTextArea {
  /* margin-left: 8px; */
  /* width: 100%; */
  /* width: 250px; */
  background: none;
  resize: none;
  color: white;
  padding: 5px 5px 5px 9px;
  margin-top: 10px;
  box-sizing: border-box;
  font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont,
    'Segoe UI Variable Display', 'Segoe UI', Helvetica, 'Apple Color Emoji',
    Arial, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
  outline: none;
  /* border: none; */
  border-radius: 6px;
  border: 1px solid #7f7f7f30;
  /* border: 3px solid hotpink; */
  font-size: 14px;
  cursor: pointer;
  /* min-width: 310px; */
  /* width: 10%; */
  width: 75%;
  height: 100%; /* Ensure the textarea height is 100% of its own height */
  min-height: 50px;
  overflow: hidden; /* Hide scrollbars */
  box-sizing: border-box; /* Include padding and border in width/height calculation */
  resize: none; /* Optional: Prevent manual resizing by the user */
  overflow-y: auto;
}

.notesTextArea::-webkit-scrollbar {
  width: 12px !important;
}

.notesTextArea::-webkit-scrollbar-track {
  background: #2c2c2c !important;
  border-radius: 10px !important;
}

.notesTextArea::-webkit-scrollbar-thumb {
  background: #6b6b6b !important;
  border-radius: 6px !important;
  width: 8px !important;
  min-height: 30px !important; /* Ensures minimum height */
  height: 30px !important; /* Forces the thumb height to always be fixed */
}

.notesTextArea::-webkit-scrollbar-thumb:hover {
  background: #939393 !important;
}

.notesTextArea:active,
.notesTextArea:focus {
  border-radius: 6px;
  /* border: 1px solid #9b9b9b65; */
  background-color: #2a2a2a;
  border: 1px solid #2a2a2a;
}

.notesTextArea::placeholder {
  color: #7f7f7f67;
}

.syncExplanation {
  margin-left: 18px;
  font-weight: 200;
  font-size: 12px;
  color: #d1d1d183;
  user-select: none;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.toggleSwitchWrapper {
  /* border: 1px solid red; */
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  padding-left: 4px;
}

@media (max-width: 768px) {
  .wrapperLabel {
    /* border: 1px solid red; */
    min-width: 62px;
    max-width: 62px;
    margin-right: 10px;
  }
  .notesContainer {
    /* border: 1px solid red; */
    width: 100%;
    margin-left: 0px;
    box-sizing: border-box;
    position: relative;
    height: 300px;
  }

  .notesTextArea {
    margin: 5px 0px 0px 0px;
    width: 100%;
  }

  .listItemTitleInput {
    font-size: 28px;
    padding-top: 4px;
    font-weight: 700;
    font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont,
      'Segoe UI Variable Display', 'Segoe UI', Helvetica, 'Apple Color Emoji',
      Arial, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
  }

  .toggleSwitchWrapper {
    padding-left: 6px;
  }
}
