.container {
  /* border: 2px solid lime; */
  background-color: #202020;
  color: white;
  height: 100%;
  width: 100%;
  position: absolute; /* Allow overlaying */
  top: 0; /* Adjust as needed */
  left: 0%; /* Adjust as needed */
  z-index: 4; /* Ensure this sibling is on top */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 3%;
  box-sizing: border-box;
  /* opacity: 0.5; */
}

.titleAndCloseWrapper {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 100%;
  height: 41px;
  margin-top: 20px;
  margin-bottom: 40px;
  /* padding: 0% 2%; */
  box-sizing: border-box;
}

.closeWrapper {
  /* border: 1px solid white; */
  width: 10%;
  min-width: 60px;
}

.closePaneButton {
  /* border: 1px solid #2a2a2a; */
  border-radius: 6px;
  padding: 8px;
  box-sizing: border-box;
  margin: 0px 0px 0px 0px;
  width: 50px;
}

.listItemTitleInput {
  border: none;
  /* border: 1px solid white; */
  font-size: 32px;
  background: none;
  color: #d9d9d9;
  font-weight: 700;
  outline: none;
  width: 100%;
  /* padding-left: 4%; */
  cursor: pointer;
}

.fieldIndent {
  /* border: 1px solid red; */
  /* width: 10%; */
  /* min-width: 60px; */
}

.fieldWrapper {
  /* border: 1px solid white; */
  display: flex;
  flex-direction: row;
  align-items: stretch; /* Ensure the child grows and aligns properly */
  width: 100%;
  box-sizing: border-box;
  /* min-height: 40px;  */
  display: flex;
  flex-direction: row;
  align-items: center;
}

.wrapperLabel {
  /* border: 2px solid hotpink; */
  font-size: 14px;
  color: #7f7f7f;
  user-select: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 82px;
  height: 100%;
  min-height: 40px;
  justify-content: space-between;
  margin-right: 30px;
  margin-left: 10px;
  box-sizing: border-box;
}

#tagsFieldLabel {
  /* border: 1px solid lime; */
  height: 100%;
}

.fieldLabelP {
  margin: 0;
  /* padding: 0px 0px 0px 8px; */
  /* border: 1px solid cyan; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  /* height: 35px; */
  width: 40px;
  margin-left: 10px;
  box-sizing: border-box;
}

.dividerLine {
  border-top: 1px solid #7f7f7f30;
  height: 1px;
  /* min-width: 310px; */
  width: 75%;
  margin: 12px 0px 6px 0px;
}

.notesContainer {
  /* border: 1px solid red; */
  width: 75%;
  margin-left: 3px;
  box-sizing: border-box;
  position: relative;
  height: 300px;
}

.notesTextArea {
  margin-left: 8px;
  /* width: 100%; */
  /* width: 250px; */
  background: none;
  resize: none;
  color: white;
  padding: 5px 5px 5px 9px;
  margin-top: 10px;
  box-sizing: border-box;
  font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont,
    'Segoe UI Variable Display', 'Segoe UI', Helvetica, 'Apple Color Emoji',
    Arial, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
  outline: none;
  /* border: none; */
  border-radius: 6px;
  border: 1px solid #7f7f7f30;
  font-size: 14px;
  cursor: pointer;
  min-width: 310px;
  width: 100%;
  height: 100%; /* Ensure the textarea height is 100% of its own height */
  min-height: 50px;
  overflow: hidden; /* Hide scrollbars */
  box-sizing: border-box; /* Include padding and border in width/height calculation */
  resize: none; /* Optional: Prevent manual resizing by the user */
}

.notesTextArea:active,
.notesTextArea:focus {
  border-radius: 6px;
  /* border: 1px solid #9b9b9b65; */
  background-color: #2a2a2a;
  border: 1px solid #2a2a2a;
}

.notesTextArea::placeholder {
  color: #7f7f7f67;
}

.syncExplanation {
  margin-left: 18px;
  font-weight: 200;
  font-size: 12px;
  color: #d1d1d183;
  user-select: none;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
}
