.container {
  border: 3px solid yellow;
  height: 100%;
  width: 20%;
  min-width: 20%;
  /* min-width: 200px; */
  box-sizing: border-box;
  background-color: #202020;
  /* position: absolute;  */
  /* top: 0;  */
  /* left: 0;  */
  /* padding: 0px 8px 0px 4px; */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* z-index: 2; */
  /* justify-content: center; */
  border-right: 1px solid rgba(155, 155, 155, 0.151);
  /* pointer-events: none; */
}

.listsHeaderButton {
  /* border: 1px solid white; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 10px;
  width: 10px;
  border-radius: 6px;
}

.listsHeaderButton:hover {
  background-color: #333333;
}

.listsHeader {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid lightblue; */
  box-sizing: border-box;
  padding: 4px;
  width: 100%;
}

.sidebarOpen {
  visibility: visible;
}
.sidebarClosed {
  visibility: hidden;
}

.listContainer {
  /* border: 1px solid lime; */
  box-sizing: border-box;
  width: 100%;
  height: 90%;
  overflow-y: auto;
  /* overflow-y: scroll; */
}

.listContainer::-webkit-scrollbar {
  width: 12px !important;
}

.listContainer::-webkit-scrollbar-track {
  background: #2c2c2c !important;
  border-radius: 10px !important;
}

.listContainer::-webkit-scrollbar-thumb {
  background: #6b6b6b !important;
  border-radius: 6px !important;
  width: 8px !important;
  min-height: 30px !important; /* Ensures minimum height */
  height: 30px !important; /* Forces the thumb height to always be fixed */
}

.listContainer::-webkit-scrollbar-thumb:hover {
  background: #939393 !important;
}

[data-rfd-placeholder-context-id] {
  display: block;
  box-sizing: border-box;
  width: 0px;
  max-width: 100%;
  max-height: 30px;
  height: 0px;
  margin: 0px;
  flex-shrink: 0;
  flex-grow: 0;
  pointer-events: none;
  transition: height 0.2s cubic-bezier(0.2, 0, 0, 1),
    width 0.2s cubic-bezier(0.2, 0, 0, 1),
    margin 0.2s cubic-bezier(0.2, 0, 0, 1);
  /* background-color: purple; */
  background: none;
}

/* .logOutSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70px;
  box-sizing: border-box;
} */

.logOutButton {
  /* margin-top: auto; */
  /* min-width: 80px; */
  width: 120px;
  color: rgb(155, 155, 155);
  border: 1px solid rgb(155, 155, 155);
  border-radius: 50px;
  padding: 8px 16px;
  font-size: 12px;
  margin-bottom: 20px;
  box-sizing: border-box;
  /* margin-left: 5%; */
}

.logOutButton:hover {
  background-color: #333333;
}

.dividerLine {
  border-top: 1px solid rgba(155, 155, 155, 0.151);
  height: 1px;
  /* min-width: 310px; */
  margin-top: auto;
  width: 100%;
  margin-bottom: 18px;
}

.dragOver {
  /* background: white !important; */
  /* border: 3px solid blue; */
  background: #4c4c4c !important;
}

.hiddenPlaceholder {
  display: none;
}
