.container {
  /* border: 3px solid yellow; */
  height: 100%;
  width: 20%;
  box-sizing: border-box;
  background-color: #202020;
  position: absolute; /* Allow overlaying */
  top: 0; /* Adjust as needed */
  left: 0; /* Adjust as needed */
  z-index: 10; /* Ensure this sibling is on top */
  padding: 0px 8px 0px 4px;
  box-sizing: border-box;
}

.sidebarTitle {
  color: white;
  font-size: 14px;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis;
}

.listsHeaderButton {
  /* border: 1px solid white; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 10px;
  width: 10px;
  border-radius: 6px;
}

.listsHeaderButton:hover {
  background-color: #333333;
}

.listsHeader {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid lightblue; */
  box-sizing: border-box;
  padding: 4px;
}

.sidebarOpen {
  visibility: visible;
}
.sidebarClosed {
  visibility: hidden;
}

[data-rfd-placeholder-context-id] {
  display: block;
  box-sizing: border-box;
  width: 0px;
  max-width: 100%;
  max-height: 30px;
  height: 0px;
  margin: 0px;
  flex-shrink: 0;
  flex-grow: 0;
  pointer-events: none;
  transition: height 0.2s cubic-bezier(0.2, 0, 0, 1),
    width 0.2s cubic-bezier(0.2, 0, 0, 1),
    margin 0.2s cubic-bezier(0.2, 0, 0, 1);
  /* background-color: purple; */
  background: none;
}
