/* index.css */
html,
body {
  height: 100%;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

#root {
  height: 100%; /* Fill the full height of the body */
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Include border and padding in height calculation */
  display: flex;
  justify-content: center;
  align-items: center;
}
