/* index.css */
html,
body {
  height: 100%;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

#root {
  height: 100%; /* Fill the full height of the body */
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Include border and padding in height calculation */
  display: flex;
  justify-content: center;
  align-items: center;
}

/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/

.react-datepicker {
  /* border: 1px solid red; */
  border: none !important;
  color: yellow !important;
  background: none !important;
  /* height: 225px !important; */
  position: relative !important;
  max-width: 204px !important;
}

.react-datepicker__day-names {
  margin-top: 8px !important;
}

.react-datepicker__month {
  margin-top: 0px !important;
}

.react-datepicker__aria-live {
  border: 1px solid blue !important;
}

.react-datepicker__day-names {
  color: white !important;
}

.react-datepicker__header {
  /* width: 100% !important; */
  background: none !important;
  border-bottom: none !important;
  /* border: 2px solid purple !important; */
  box-sizing: border-box !important;
}

.react-datepicker__current-month {
  color: white !important;
  font-size: 14px !important;
  font-weight: 500 !important;
}

.react-datepicker__month-container {
  width: 100% !important;
}

.react-datepicker__navigation--next span {
  color: black !important;
}

.react-datepicker__navigation-icon
  .react-datepicker__navigation-icon--previous {
  color: black !important;
  box-sizing: border-box !important;
}

.react-datepicker__day-name {
  color: #8b9898 !important;
  margin: 0 !important;
  box-sizing: border-box !important;
}

.react-datepicker__week {
  box-sizing: border-box !important;
}

.react-datepicker__day,
.react-datepicker__time-name {
  color: white !important;
  display: inline-block !important;
  width: 1.7rem !important;
  line-height: 1.7rem !important;
  text-align: center !important;
  /* margin: 0.166rem !important; */
  box-sizing: border-box !important;
}

.react-datepicker__day {
  margin: 0 !important;
  box-sizing: border-box !important;
}

.react-datepicker__day:hover {
  margin: 0 !important;
  box-sizing: border-box !important;
}

.react-datepicker__day--in-range {
  background-color: rgba(35, 131, 226, 0.15) !important;
  border-radius: 0px !important;
  box-sizing: border-box !important;
}

.react-datepicker__day--keyboard-selected {
  border-radius: 0px !important;
  box-sizing: border-box !important;
  background-color: white !important;
  color: #252525 !important;
}

.react-datepicker__day--today {
  margin: 0 !important;
  box-sizing: border-box !important;
  background-color: red !important;
  border-radius: 30px !important;
  color: white !important;
}

.react-datepicker__day--in-selecting-range {
  background-color: rgba(35, 131, 226, 0.15) !important;
  border-radius: 0px !important;
  box-sizing: border-box !important;
  color: white !important;
}

.react-datepicker__day:hover,
.react-datepicker__month-text:hover,
.react-datepicker__quarter-text:hover,
.react-datepicker__year-text:hover {
  border-radius: 0 !important;
  background-color: #f0f0f0 !important;
  box-sizing: border-box !important;
  color: white !important;
}

.react-datepicker__day:hover,
.react-datepicker__month-text:hover,
.react-datepicker__quarter-text:hover,
.react-datepicker__year-text:hover {
  border-radius: 0px !important;
  /* border: 2px solid #2383e2 !important; */
  background-color: #243446 !important;
  box-sizing: border-box !important;
  color: white !important;
}

.react-datepicker__day--in-selecting-range {
  /* background-color: #2383e2 !important; */
  border-radius: 0px !important;
  color: white !important;
}

.react-datepicker__day--range-start {
  background-color: #2383e2 !important;
  box-sizing: border-box !important;
  border-radius: 0px !important;
  color: white !important;
}

.react-datepicker__day--range-end {
  background-color: #2383e2 !important;
  box-sizing: border-box !important;
  border-radius: 0px !important;
  color: white !important;
}

.react-datepicker__day--selected {
  background-color: #2383e2 !important;
  border-radius: 0px !important;
  color: white !important;
}

/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/

.react-datepicker__time-container {
  /* border: 2px solid green !important; */
  /* position: absolute !important; */
  bottom: 0px !important;
  left: -30px !important;
  margin: 0 !important;
  box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px,
    rgba(15, 15, 15, 0.2) 0px 3px 6px, rgba(15, 15, 15, 0.4) 0px 9px 24px !important;
  /* border-radius: 6px !important; */
  background-color: #252525 !important;
  color: #757575 !important;
  z-index: 1 !important;
  width: 100px !important;
  border: none !important;
}

.react-datepicker-time__header {
  height: 0px !important;
}

.react-datepicker__header--time {
  padding: 0 !important;
  margin: 0 !important;
  /* visibility: hidden !important; */
}

.react-datepicker-time__header {
  color: white !important;
}

.react-datepicker__navigation {
  /* border: 1px solid yellow !important; */
}

.react-datepicker__navigation--next--with-time {
  /* border: 2px solid hotpink !important; */
  position: absolute !important;
  left: 170px !important;
}

.react-datepicker__time {
  /* background: none !important; */
}

.react-datepicker__time-box {
  /* border: 1px solid red !important; */
  width: 100% !important;
  padding: 0 !important;
  /* background: none !important; */
  margin: 0 !important;
}

.react-datepicker__time-list-item {
  box-sizing: border-box !important;
  display: flex !important;
  flex-direction: row !important;
  justify-content: flex-start !important;
  align-items: center !important;
  margin: 0 !important;
  color: white !important;
  padding-left: 8px !important;
}

.react-datepicker__time-list::-webkit-scrollbar {
  width: 10px !important;
  padding: 2px !important;
}

.react-datepicker__time-list::-webkit-scrollbar-track {
  background: #2c2c2c !important;
  border-left: 1px solid #3e3e3e !important;
  border-right: 1px solid #3e3e3e !important;
  /* border-radius: 6px !important; */
  height: 100% !important;
}

.react-datepicker__time-list::-webkit-scrollbar-thumb {
  background: #6b6b6b !important;
  border-radius: 10px !important;
  width: 8px !important;
}

.react-datepicker__time-list::-webkit-scrollbar-thumb:hover {
  background: #939393 !important;
}

.react-datepicker__time-list-item:hover {
  background-color: #454444 !important;
}
