.container {
  /* border: 6px dashed red; */
  height: 100vh;
  width: 100vw;
  max-height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  background-color: #191919;
  position: relative;
}

.wrapper {
  /* border: 9px solid yellow; */
  width: 100vw;
  box-sizing: border-box;
  margin-top: auto;
  margin-bottom: auto;
}

.descriptionLoginButtonWrapper {
  /* border: 2px solid hotpink; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logoContainer {
  /* border: 2px solid red; */
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  animation: riseUp 1s ease-out forwards;
}

@keyframes riseUp {
  0% {
    transform: translateY(100%); /* Start from below the screen */
    opacity: 0; /* Start fully transparent */
  }
  100% {
    transform: translateY(0); /* End at original position */
    opacity: 1; /* End fully opaque */
  }
}

.logo {
  position: relative;
  /* border: 2px solid blue; */
  width: 230px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 85px;
}

.title {
  position: absolute;
  top: 0px;
  color: white;
  /* margin-bottom: 15%; */
  font-size: 72px;
  z-index: 2;
}

.shadow {
  position: absolute;
  color: rgba(150, 112, 112, 0.501);
  top: 5px;
  left: 6px;
  /* margin-bottom: 15%; */
  font-size: 72px;
  z-index: 1;
}

.description {
  /* border: 2px solid green; */
  color: rgba(255, 255, 255, 0.574);
  /* margin-bottom: 15%; */
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 2px;
  padding-top: 20px;
  opacity: 0;
  animation: riseUp 1s ease-out forwards;
  animation-delay: 0.25s;
}

.privacyDisclaimer {
  color: rgba(255, 255, 255, 0.574);
  /* margin-bottom: 15%; */
  font-size: 12px;
  font-weight: 200;
  letter-spacing: 1px;
  padding-top: 10px;
  opacity: 0;
  animation: riseUp 1s ease-out forwards;
  animation-delay: 0.25s;
  margin-bottom: 40px;
}

.startButton {
  height: 50px;
  width: 200px;
  border-radius: 50px;
  border: 1px solid #333333;
  background-color: #4c4c4c;
  color: white;
  margin-right: 10px;
  font-size: 18px;
  font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont,
    'Segoe UI Variable Display', 'Segoe UI', Helvetica, 'Apple Color Emoji',
    Arial, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-weight: 200;
  opacity: 0;
  animation: riseUp 1s ease-out forwards;
  animation-delay: 0.5s;
}

.startButton:hover,
.startButton:active {
  background-color: #787878;
}

@media (max-width: 768px) {
  .startButton {
    /* border: 1px solid green; */
    height: 40px;
    font-size: 14px;
    width: 160px;
  }
}

.bottomGap {
  /* border: 1px solid red; */
  height: 20%;
  width: 100%;
}

.copyright {
  color: white;
  /* border: 3px solid purple; */
  font-size: 12px;
  font-weight: 100;
  /* margin-bottom: 30px; */
  /* animation: riseUp 1s ease-out forwards; */
  /* opacity: 0; */
  animation-delay: 0.75s;
  /* margin-top: auto; */
  position: absolute; /* Position relative to the parent */
  bottom: 0; /* Always at the bottom of the parent */
  left: 0;
  width: 100vw;
  padding-bottom: 20px;
  /* height: 20px; */
}

.copyright a {
  color: white;
}

.emojiContainer {
  /* border: 1px solid red; */
  height: 100%;
  width: 48px;
  font-size: 68px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.emoji {
  padding-bottom: 5px;
  /* padding-right: 10px; */
}

.videoWrapper {
  /* border: 3px solid blue; */
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.videoContainer {
  /* border: 3px solid green; */
}

.privacyPolicyLink {
  text-decoration: underline;
  cursor: pointer;
}

.privacyPolicy {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  /* border: 9px dashed yellow; */
  background-color: #191919;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.gsiMaterialButton {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-appearance: none;
  background-color: WHITE;
  background-image: none;
  border: 1px solid #747775;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #1f1f1f;
  cursor: pointer;
  font-family: 'Roboto', arial, sans-serif;
  font-size: 14px;
  height: 40px;
  letter-spacing: 0.25px;
  outline: none;
  overflow: hidden;
  padding: 0 12px;
  position: relative;
  text-align: center;
  -webkit-transition: background-color 0.218s, border-color 0.218s,
    box-shadow 0.218s;
  transition: background-color 0.218s, border-color 0.218s, box-shadow 0.218s;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
  max-width: 400px;
  min-width: min-content;
  animation: riseUp 1s ease-out forwards;
  opacity: 0;
  animation-delay: 0.5s;
}

.gsiMaterialButton .gsiMaterialButtonIcon {
  height: 20px;
  margin-right: 12px;
  min-width: 20px;
  width: 20px;
}

.gsiMaterialButton .gsiMaterialButtonContentWrapper {
  -webkit-align-items: center;
  align-items: center;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.gsiMaterialButton .gsiMaterialButtonContents {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  font-family: 'Roboto', arial, sans-serif;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}

.gsiMaterialButton .gsiMaterialButtonState {
  -webkit-transition: opacity 0.218s;
  transition: opacity 0.218s;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.gsiMaterialButton:disabled {
  cursor: default;
  background-color: #ffffff61;
  border-color: #1f1f1f1f;
}

.gsiMaterialButton:disabled .gsiMaterialButtonContents {
  opacity: 38%;
}

.gsiMaterialButton:disabled .gsiMaterialButtonIcon {
  opacity: 38%;
}

.gsiMaterialButton:not(:disabled):active .gsiMaterialButtonState,
.gsiMaterialButton:not(:disabled):focus .gsiMaterialButtonState {
  background-color: #303030;
  opacity: 12%;
}

.gsiMaterialButton:not(:disabled):hover {
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
}

.gsiMaterialButton:not(:disabled):hover .gsiMaterialButtonState {
  background-color: #303030;
  opacity: 8%;
}

@media (max-width: 768px) {
  .privacyDisclaimer {
    /* border: 3px solid red; */
    /* width: 70%; */
    font-size: 10px;
  }
}
